
<!-- Template driven -->
<!-- <form #userForm="ngForm" (submit)="submit(userForm)">
  <mat-form-field class="example-form-field">  
    <mat-label>Name</mat-label>
    <input matInput name="name" type="text" [(ngModel)]="userDetails.name" required>
    <mat-error *ngIf="userForm.touched && userForm.controls['name'].errors?.['required']">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-form-field">  
    <mat-label>Email</mat-label>
    <input matInput name="email" type="text" [(ngModel)]="userDetails.email">
  </mat-form-field>
  <button type="submit">Submit</button>
</form>
-->

<router-outlet></router-outlet>