<div class="d-flex justify-content-center align-items-center main-container flex-column 100vh">
    
    <div class="bg-white shadow p-3 mb-5 m-5 bg-body rounded border border-light">

        <div class="mb-5 m-5 my-5">
            <span class="bar"></span>
            <h3>User Management System</h3>
        </div>
    
        <div class="text-center mb-5">
            <h5 class="mb-3">SIGN IN</h5>
            <span>Enter your credentials to access your account</span>
        </div>
    
        <div class="mt-5">
            <form [formGroup]="loginForm" class="d-flex flex-column" (ngSubmit)="submitLoginForm()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="userName" placeholder="Placeholder">
                    
                    <mat-error *ngIf="loginForm.controls?.['userName']?.hasError('required')">Email is <strong>required</strong> </mat-error>
                    
                    <mat-error *ngIf="loginForm.controls?.['userName']?.hasError('email')">Email is <strong>not correct</strong> </mat-error>
                </mat-form-field>
        <!-- <strong></strong> -->
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Placeholder">
                </mat-form-field>
            
                <div class="d-flex">
                    <button (click)="submitLoginForm()" class="btn login-btn w-100 text-white py-2">
                        SIGN IN
                    </button>
                </div>
            </form>

        </div>

    </div>



</div>
