.main-container 
{
    background: linear-gradient(71.17deg, #FEAF00 19.35%, #F8D442 90.12%);
    height:100vh ;

    .login-btn 
    {
        background-color: var(--mainColor);
    }
}

.bar {

position: absolute;
width: 35px;
height: 0px;
left: 570px;
top: 190px;

border: 3.5px solid #F8D442;
transform: rotate(90deg);

}